* {
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  body {
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
    }
  #contenedor {
    width: 100%;
    margin:auto;
    padding: 0;
  }
  #cabecera {
      background-color: rgb(179, 179, 179);
      width: 100%;;
      height: 20%;
      margin: 0px;
      color: rgb(255,255,255);
      text-align: center;
  }
  
  #cabecera img {
      width: 60%;
      margin: auto; 

  }
  .casilleros {
    background-color: rgb(211, 211, 211);
  }
  #titulo{
    text-align: center;
    font-size: 175%;
    font-weight: bold;
    color: rgb(48, 48, 48);
    text-shadow: rgb(145, 145, 145) 6px 6px 8px;
    padding: 2%;
    font-family: Arial, Helvetica, sans-serif;
}
#texto{
    text-align: center;
    margin: 10px; ;
    padding: 2%;
    border: rgb(124, 124, 124) 2px solid;
    background-color: rgb(255, 255, 255);
    border-radius: 0.5cm;
    color: rgb(129, 129, 129);
}

  .topnav {
    overflow: hidden;
    background-color: #e9e9e9;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav a span{
    margin-right: 10px;
    overflow: hidden;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #2196F3;
    color: white;
  }
  @media screen and (max-width: 600px) {
    .mapa {
      position: relative;
      align-content: center;
      padding-bottom: 300px;
      height: 0;
      overflow: hidden;
      max-width: 500px;
      max-height: 100px;
      border: rgb(160, 160, 160) 3px solid;
      border-radius: 0.5cm;
      margin: 15px;
      margin-left: 32%;
      
     }
    
  }
      .mapa {
       position: relative;
       align-content: center;
       padding-bottom: 300px;
       height: 0;
       overflow: hidden;
       max-width: 500px;
       max-height: 100px;
       border: rgb(160, 160, 160) 3px solid;
       border-radius: 0.5cm;
       margin: 15px;
       margin-left: 32%;
       
      }
      .mapa iframe{
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
      }

